<% title "GitHub Rebase" %>
<h2>Totals:</h2>

<% [@weekly_chart, @event_meter, @total_chart, @daily_chart, @hourly_chart].each do |chart| %>
<p>
	<%= image_tag(chart || '') %>
</p>
<% end %>

<% if params[:kind] %>
<h2>Showing all <%= params[:kind] %> events:</h2>
<table>
  <tr>
    <th>Author</th>
    <th>Published</th>
    <th>Message</th>
    <th>Title</th>
		<th>Watchers</th>
		<th>Network</th>
		<th>Wiki</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.author %></td>
      <td><%=h event.published %></td>
      <td><%=h event.title %></td>
      <td><%= event.message %></td>

			<% if event.repo %>
	      <td><%=h event.repo.watchers %></td>
	      <td><%=h event.repo.network %></td>
	      <td><%=h event.repo.wiki %></td>
			<% end %>
    </tr>
  <% end %>
</table>
<% end %>

<p>
	<%= link_to "Parse Feed!", new_event_path %> |
  <%= link_to "Nuke Events!", event_path(:id => 0), :confirm => 'Are you sure?', :method => :delete %>
</p>
