<% title "GitHub Rebase" %>

<h2>Totals:</h2>

<p>
<%= image_tag(@event_meter) %>
	</p>
<p>
<%= image_tag(@total_chart) %>
	</p>

<p>
<%= image_tag(@daily_chart) %>
	</p>

<% if params[:kind] %>
<h2>Showing all <%= params[:kind] %> events:</h2>
<table>
  <tr>
    <th>Author</th>
    <th>Published</th>
    <th>Message</th>
    <th>Title</th>
		<th>Watchers</th>
		<th>Network</th>
		<th>Wiki</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.author %></td>
      <td><%=h event.published %></td>
      <td><%=h event.title %></td>
      <td><%= event.message %></td>

			<% if event.repo %>
	      <td><%=h event.repo.watchers %></td>
	      <td><%=h event.repo.network %></td>
	      <td><%=h event.repo.wiki %></td>
			<% end %>
    </tr>
  <% end %>
</table>
<% end %>

<p>
	<%= link_to "Parse Feed!", events_path, :method => :post %> |
  <%= link_to "Nuke Events!", event_path(:id => 0), :confirm => 'Are you sure?', :method => :delete %>
</p>
